@import url('https://fonts.googleapis.com/css?family=Exo:semibold|Eczar:bold');
// route: new-task/personal

.route__new-task-personal {
  .new-task-content{
    background: #F5F0F0;
  }

  .personal-header {
    text-align: center;
    font-family: 'Eczar', sans-serif;
    font-weight: bold;
    font-size: 20pt;
    margin: 24px 0;
  }

  .ember-view#ember220 {
    height: 87vmax;
    .content{
      height:100%;
    }
  }

}
