@import "_styled";
@import "ember-power-calendar";
body{
  background: url('/assets/images/pattern3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  margin: 0;
  min-height: -webkit-fill-available;
}

.content{
  padding: 8px 8px 40px 8px;
}
