//route: sign-in

.route__sign-in {
  .rumi-sign-in {
    display:block;
    width: 295px;
    margin-left:auto;
    margin-right:auto;
    button {
      display: block;
      font-family: Arial;
      font-weight: bold;
      width: 100%;
      height: 50px;
      background-color: black;
      border: none;
      color: white;
      margin-top: 75%;
    }
    input{
      font-family: Exo;
      font-size: 14pt;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
      padding-left: 20px;
      width: 100%;
      height: 45px;
      border: none;
    }
    input#user{
      margin-top:25%;
      margin-bottom: 25px;
    }
  }
  h1 {
    margin-top: 29px;
    font-size: 45pt;
    font-family: Eczar;
    text-align: center;
    color: white;
  }
  .content {
    height: 100vmax;
  }
  .rumi-bottom-navbar{
    display: none;
  }
  background: url('/assets/images/pattern3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}