// route: rumi-filter

.rumi-filter {
  font-family: Exo;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  z-index: 11;
  left: 73%;
  top: 3%;
  position: absolute;
  background: black;  
  flex-direction: column;
}
