<div>
  {{mdc-icon "check_circle"}}

  <div class="message">
    <div>This task has been sent to the polls to be voted on and assigned.</div>
    <div>{{#mdc-button-linkto "polls"}}Polls{{/mdc-button-linkto}}</div>
  </div>
</div>
