<div class="comment-avatar">
  <img src="/assets/images/avatar1.svg"/>
</div>
<div class="comment-container">
  <div class="comment-user">
    {{comment.user.firstName}}
  </div>
  <div class="comment-text">
    {{comment.message}}
  </div>
</div>
